@model IEnumerable<Booking.EF.Bill>

@{
    ViewData["Title"] = "Doanh thu";
    var count = 0;
    int.TryParse(Context.Request.Query["page"], out int currentPage);
    currentPage = currentPage < 1 ? 1 : currentPage;
    int.TryParse(ViewBag.CountPage.ToString(), out int countPage);
    var dateIn = Context.Request.Query["dateIn"].ToString();
    var dateOut = Context.Request.Query["dateOut"].ToString();
    var totalPrice = Model.Where(b => b.StatusBill != "Chờ thanh toán" && b.StatusBill != "Hủy thanh toán").Sum(b => b.TotalPrice);
}

<h1>Doanh thu</h1>

<div class="content pe-3">
    <div class="top-content mb-4">
        <div class="float-start d-flex form-group justify-content-between w-100">
            <div class="me-2 d-flex">
                <input type="date" class="form-control me-2" style="max-width: 160px; min-width: 150px;" name="dateIn" value="@dateIn" />
                <input type="date" class="form-control" style="max-width: 160px; min-width: 150px;" name="dateOut" value="@dateOut" />
                <a href="@Url.Action("Revenue", new { page = 1 })" class="btn btn-outline-secondary position-relative ms-2">Tìm</a>
            </div>
            @* <select class="form-control find-product">
            <option value="0">Không có</option>
            <option value="1">Nữ</option>
            <option value="2">Nam</option>
            <option value="3">Trẻ em</option>
            <option value="4">Trẻ em asd aksd kash kldlaksd</option>
            </select> *@
            @if (!string.IsNullOrEmpty(dateIn))
            {
                <div class="me-3"><b>Tổng doanh thu:</b> @String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", totalPrice)</div>
            }
        </div>
    </div>
    <div class="main-content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th class="white-space-nowrap">Loại dịch vụ</th>
                    <th style="max-width: 370px;">Tên dịch vụ</th>
                    <th class="text-end">Số tiền</th>
                    <th class="text-center">Trạng thái</th>
                    <th class="text-center">Ngày đặt</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th class="text-center">@(++count)</th>
                        <td class="text-center">
                            @if (item.ServiceType == "Flight")
                            {
                                <span>Vé máy bay</span>
                            }
                            else if (item.ServiceType == "Tour")
                            {
                                <span>Du lịch</span>
                            }
                            else if (item.ServiceType == "Room")
                            {
                                <span>Khách sạn</span>
                            }
                            @* @Html.DisplayFor(modelItem => item.ServiceType) *@
                        </td>
                        <td style="max-width: 370px;">
                            <a asp-action="RevenueDetail" asp-route-id="@item.Id" class="hover-link">
                                @Html.DisplayFor(modelItem => item.ServiceName)
                            </a>
                        </td>
                        <td class="text-end white-space-nowrap">
                            @String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.TotalPrice)
                        </td>
                        <td class="text-center white-space-nowrap">
                            @Html.DisplayFor(modelItem => item.StatusBill)
                        </td>
                        <td class="text-center">
                            @item.CreateAt.ToString("dd/MM/yyyy HH:mm:ss")
                        </td>
                        @* <td class="text-center">
                    @if (DateTime.UtcNow > item.CreateAt.AddDays(1) || item.StatusBill == "Hủy dịch vụ")
                    {
                    <button type="button" class="btn btn-dark">Hủy</button>
                    }
                    else
                    {
                    <button type="button" class="btn btn-danger" data-id="@item.Id">Hủy</button>
                    }
                    </td> *@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination float-end me-5">
        <li class="page-item">
            <a class="page-link" href="@Url.Action("Revenue", new { page = 1 })" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = 1; i <= countPage; i++)
        {
            <li class="page-item @(i == currentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("Revenue", new { page = i })">@i</a>
            </li>
        }
        <li class="page-item">
            <a class="page-link" href="@Url.Action("Revenue", new { page = countPage })" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

@await Html.PartialAsync("_LoadingPartial")

@section Scripts {
    <script>
        $(function () {
            const Toast = window.globalVariable;

            var dateIn = $(".content .top-content input[name=dateIn]").val();
            var dateOut = $(".content .top-content input[name=dateOut]").val();

            $(".content .top-content input[name=dateIn]").change(function () {
                dateIn = $(this).val();
            });
            $(".content .top-content input[name=dateOut]").change(function () {
                dateOut = $(this).val();
            });

            $(".pagination li a").click(function (e) {
                var href = $(this).attr("href") + `&dateIn=${dateIn}&dateOut=${dateOut}`;
                $(this).attr("href", href);
            });

            $(".content .top-content a.btn").click(function (e) {
                e.preventDefault();

                if (dateIn == "" && dateOut != "") {
                    Toast.fire({
                        icon: 'error',
                        text: "Ngày bắt đầu bắt buộc nhập"
                    });

                    return;
                }

                var href = $(this).attr("href") + `&dateIn=${dateIn}&dateOut=${dateOut}`;
                window.location.href = href;
                // $(this).attr("href", href);
            });
        });
    </script>
}
